// Colors
$gray: #f6f5f6;
$black: #000000;
$purple: #6e27c5;
$blue: #150f96;
<<<<<<< HEAD
$red: pink;
=======
<<<<<<< HEAD
$red: red;
=======
$font-fam: arial, helvetica, sans-serif;
>>>>>>> upstream/master
>>>>>>> 24f1b3fa22874897ae9bb6f38f9661a49cd0cceb
