
@import '_settings.responsive';
// Using initial template from website : https://codepen.io/maheshambure21/pen/bNXXeM transition effect "Terry"
// Need to alter transtion effect to allow for more black space as contrast for white font during hover over.

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

body {
	background: $grey;
	color: $white;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}


a {
	outline: none;
	color: $seahawksBlue;
	text-decoration: none;
}

//when hovering over a link, the text will change from white to grey
a:hover, a:focus {
	color: $seahawksGrey;
}

section {
	padding: 1em;
	text-align: center;
}

//using flexbox for the content container so that it will be responsive for smaller devices
.content {
	margin: 0 auto;
	max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.content > h2 {
	clear: both;
	margin: 0;
	padding: 4em 1% 0;
	color: $seahawksBlue;
	font-weight: 800;
	font-size: 1.5em;
}

.content > h2:first-child {
	padding-top: 0em;
}



/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 460px;
	max-height: 360px;
	width: 48%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: $white;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



/*-----------------*/
/***** Terry *****/
/*-----------------*/

figure.effect-terry {
	background: $grey;
}

figure.effect-terry figcaption {
	padding: 1em;
}

figure.effect-terry figcaption::before,
figure.effect-terry figcaption::after {
	position: absolute;
	width: 200%;
	height: 200%;
	border-style: solid;
	border-color: $black;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}
// I changed this effect from the original to having a 270px border on the right during hover so that my white text is easily readable.
//becaus the border takes so might of the right of the image, I had to find new images that are use the rule of 3rd's with subject on the left.
figure.effect-terry figcaption::before {
	right: 0;
	bottom: 0;
	border-width: 0 230px 60px 0;
  @include slide-border-release;
}

figure.effect-terry:hover figcaption::before,
figure.effect-terry:hover figcaption::after {
  @include slide-border-hover;
}


figure.effect-terry figcaption::after {
	top: 0;
	left: 0;
	// border-width: 15px 0 0 15px;
	// -webkit-transform: translate3d(-15px,-15px,0);
	// transform: translate3d(-15px,-15px,0);
}




//this effect slides the H2 from the right to the left.
figure.effect-terry h2 {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0.4em 10px;
	width: 50%;
  @include slide-h2;

}


//shrink the link text when screen is smaller to prevent overlap.
@media screen and (max-width: 920px) {
	figure.effect-terry h2 {
		padding: 0.75em 10px;
		font-size: 100%;
	}
  figure.effect-terry a{
    font-size: 70%;
  }
}

figure.effect-terry p {
	float: right;
	clear: both;
	text-align: left;
	text-transform: none;
	font-size: 111%;
}

figure.effect-terry p a {
	display: block;
	margin-bottom: 1em;
	color: $white;
	opacity: 0;
	-webkit-transform: translate3d(90px,0,0);
	transform: translate3d(90px,0,0);
}

figure.effect-terry p a:hover,
figure.effect-terry p a:focus {
	color: $seahawksGrey;
}




figure.effect-terry:hover h2,
figure.effect-terry:hover p a {
@include slide-border-hover;
}

figure.effect-terry:hover p a {
	opacity: 1;
}
